@keyframes fadeInContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  color: #fcedfe ; /* Set default text color to white */
  background-color: black; /* Ensure background color is black */
  overflow-y: auto; /* Allow vertical scrolling */
  min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

.contact-container, .why-penn-content, .alumni-container, .about-content-container {
  opacity: 0; /* Initial opacity set to 0 */
  animation: fadeInContent 1s ease-in 0.5s forwards; /* Fade in with a delay, starting after the background */
}

.centered-paragraph, .about-us, .section, .about p, .why-penn, .why-penn ul, .why-penn li, .alumni-image-container, .alumni-info, .student-voice {
  opacity: 0; /* Initial opacity set to 0 */
  animation: fadeInContent 1s ease-in 0.5s forwards; /* Fade in with a delay, starting after the background */
}

/* Original CSS for the elements */
.centered-paragraph {
  width: 45vw; /* Set the maximum width for the paragraph */
  margin: 0 auto; /* Center the paragraph block */
  padding: 0 10px; /* Add some padding for better readability on small screens */
  background: linear-gradient(to right, white, lightblue); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}


.section {
  margin-bottom: 40px;
  position: relative; /* Make it easier to position the line */
}

.section:last-child {
  margin-bottom: 20vh; /* Adjust this value as needed */
}

.section::after {
  content: '';
  display: block;
  width: 90%; /* Adjust this to match the navbar line */
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  margin: 5vh auto; /* Center the line and add vertical spacing */
}

.about p {
  font-size: 2.5vh;
  text-align: justify; /* Justify the text */
  max-width: 800px; /* Set a maximum width for the paragraph */
  margin: 0 auto; /* Center the paragraph block */
  padding: 0 10px; /* Add some padding for better readability on small screens */
}

.why-penn {
  width: 100%;
  text-align: center; /* Center the title and line */
}

.why-penn-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.why-penn-item {
  display: flex;
  flex-direction: column; /* Stack the image and text vertically */
  align-items: center;
  margin-bottom: 2vh;
  text-align: center; /* Center-align text for a better look */
  background: linear-gradient(to right, white, lightblue); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.bullet-icon {
  width: 7vw; /* Adjust size as needed */
  height: 7vw; /* Adjust size as needed */
  border-radius: 50%;
  margin-bottom: 1vw; /* Add space between the image and text */
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.why-penn {
  width: 100%;
  text-align: center; /* Center the title and line */
}

.why-penn-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.why-penn-item {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.alumni-container {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin-bottom: 40px; /* Add space between alumni entries */
}

.alumni-container:nth-child(odd) .alumni-image-container {
  order: 1; /* Default order */
}

.alumni-container:nth-child(even) .alumni-image-container {
  order: -1; /* Reverse order */
}

.alumni-image-container {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack the image and name vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 23vw;
}

.alumni-image {
  width: 15vw; /* Adjust size as needed */
  height: 15vw; /* Adjust size as needed */
  border-radius: 50%; /* Make the image round */
  object-fit: cover;
  padding: 3vh 0; /* Space between image and text */
}

.alumni-info {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
}

.student-voice {
  font-size: 2.5vh;
  margin: 0; /* Remove default margin */
  width: 40vw;
  text-align: justify; /* Justify the text evenly */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background: linear-gradient(to right, white, lightblue); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   
}

/* Adjustments for touchscreen devices */
@media screen and (max-device-width: 768px), screen and (device-aspect-ratio: 40/71), screen and (-webkit-device-pixel-ratio: 2) {
  body {
    overflow-y: auto; /* Allow vertical scrolling */
    height: auto; /* Ensure the body height adjusts to content */
  }

  .contact-container, .why-penn-content, .alumni-container, .about-content-container {
    padding-bottom: 0vh; /* Add space at the bottom of the page */
  }

  .about p{
    font-size: 3vh; /* Increase font size for better readability */
    width: 80vw; /* Make paragraphs wider */
    margin: 0 auto; /* Center the paragraphs */
    padding-bottom: 0vw;
    padding: 0vw;
  }

  h2 {
    font-size: 4vh;
  }

  .student-voice {
    width: 80vw; /* Increase width for better readability */
    font-size: 3.5vw; /* Increase font size for better readability */
    margin: 0 auto; /* Center the student voice */
    padding-bottom: 0vw;
  }

  .alumni-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 0 auto; /* Center the container */
    padding-bottom: 2vw;
  }

  .alumni-container .alumni-image-container {
    order: -1 !important; /* Ensure order is consistent for mobile */
  }

  .alumni-image-container {
    margin-right: 0; /* Remove side margins */
    margin-left: 0; /* Remove side margins */
    margin-bottom: 5vw; /* Add spacing between image and text */
    text-align: center; /* Center the content within the container */
  }

  .alumni-image {
    width: 40vw; /* Increase size */
    height: 40vw; /* Increase size */
    padding: 0;
    padding-top: 5vw;
  }

  .alumni-info blockquote footer {
    font-size: 4vw; /* Make alumni names bigger */
  }

  .centered-paragraph {
    width: 80vw; /* Make centered paragraph wider */
    margin: 0 auto; /* Center the paragraph */
    padding: 0vw;
  }

  .section {
    width: 80vw; /* Make sections wider */
    margin: 0 auto; /* Center the sections */
  }

  .why-penn-content {
    width: 100% !important;
    text-align: center;
  }

  .bullet-icon {
    width: 10vh; /* Adjust size as needed */
    height: 10vh;
  }
  
  .p {
    width: 95%;
  }

  .section::after {
    width: 95%;
  }
}
