@keyframes fadeInBackground {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  background-color: black; /* Start with a completely dark background */
  color: white; /* Set default text color to white */
  overflow: hidden; /* Prevent scrollbars during fade-in */
}

.layout {
  opacity: 0; /* Initial opacity for fade-in */
  animation: fadeInBackground 1s ease-in 0s forwards; /* Fade in the background and content */
}

.contact-container {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
  opacity: 0; /* Initial opacity set to 0 */
  animation: fadeIn 1s ease-in 0s forwards; /* Fade in with a delay */
}

.contact-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-container p {
  font-size: 1.5vw;
  width: 60%;
  margin: 0 auto; /* Center the paragraph container */
  color: white;
  padding: 0;
}

/* Image links styles */
.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the images */
  gap: 5vw; /* Space between the images */
  padding-top: 5vh;
  padding-bottom: 12vh;
}

.social-link {
  display: block;
  width: 7vw;
  height: 7vw;
  text-decoration: none; 
  text-align: center;
  opacity: 0.5;
}

.social-link img, .social-link span {
  opacity: 0; /* Initial opacity set to 0 */
  animation: fadeIn 1s ease-in 1s forwards; /* Fade in with a delay */
}

.social-link img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image fits within the area */
  background-color: transparent; /* Ensure transparent background */
  border-radius: 10px;
}

.social-link:hover {
  transform: scale(1.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

.social-link span {
  display: block;
  margin-top: 5px;
  font-size: 1.5vw; /* Same font size as p */
  color: white; /* White labels */
  font-family: 'Montserrat', sans-serif; /* Font Montserrat */
  text-decoration: none; /* Cancel underline */
}

/* Membership button styles */
.apply-button {
  display: inline-block;
  padding: 1.5vw 3vw;
  background-color: #990000; /* Penn logo red */
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 1vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.3); /* Add gradient effect */
}

.apply-button:hover {
  background-color: #cc0000; /* Slightly lighter red for hover effect */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(0, 0, 0, 0.3); /* Enhance gradient effect on hover */
}

@media screen and (max-device-width: 768px), screen and (device-aspect-ratio: 40/71), screen and (-webkit-device-pixel-ratio: 2) {
  body {
    overflow-y: auto; /* Allow vertical scrolling */
    height: auto; /* Ensure the body height adjusts to content */
  }
  
  .contact-container h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
    margin-bottom: 15px;
    width: 90vw; /* Set width to 90vw */
    margin: 0 auto; /* Center the heading */
  }

  .contact-container p {
    font-size: 3.5vw; /* Adjust font size for smaller screens */
    width: 80%; /* Increase width for better readability */
    margin: 0 auto; /* Center the paragraph container */
  }

  .social-links {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15vw; /* Space between the images */
    padding-top: 3vh;
    padding-bottom: 5vh;
    max-width: 90vw;
  }

  .social-link {
    width: 15vw; /* Adjust size for smaller screens */
    height: 15vw; /* Adjust size for smaller screens */
    opacity: 0.7; /* Increase initial opacity */
    margin-bottom: 1vh; /* Add more space between rows */
  }

  .social-link span {
    font-size: 3.5vw; /* Adjust font size for smaller screens */
    margin-top: 3px;
  }

  .apply-button {
    padding: 4vw 8vw; /* Increase padding for a bigger button */
    font-size: 3vw; /* Adjust font size to ensure text isn't too big */
    margin: 2vw; /* Ensure spacing around the button */
  }

  .contact-container, .why-penn-content, .alumni-container, .about-content-container {
    overflow-y: auto; /* Allow vertical scrolling within containers */
  }
}